<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <div class="back-ground">
        <a href="/main">MapleAuction</a>
        <a sec:authorize="isAuthenticated()" class = "logout" href="/members/logout">로그아웃</a>
        <a sec:authorize="isAnonymous()" class = "logout" href ="/members/login">로그인</a>
        <form class="searchForm" th:action="@{/}" method="get">
            <div class="formHeader">
                <label class="searchLabel" for="searchQuery">빠른 검색</label>
                <div class="searchInputContainer">
                    <input id="searchQuery" name="searchQuery" type="search" placeholder="Search" aria-label="Search">
                    <button type="submit">Search</button>
                </div>
                <div class="userInfo">
                    <span class="userId" sec:authorize="isAuthenticated()">ID: <strong th:text="${user}"> </strong></span>
                    <span class="userCash" sec:authorize="isAuthenticated()">Cash: <strong th:text="${cash}"></strong></span>
                </div>
            </div>
        </form>

        <div class ="titles">
            <ul class="items">
                <li>
                    <a href="/item/search">검색</a>
                </li>
                <li>
                    <a href="/item/price">시세</a>
                </li>
                <li>
                    <a href="/cart/wish/0">찜</a>
                </li>
                <li>
                    <a href="/inventory/sell">판매</a>
                </li>
                <li>
                    <a href="/inventory/complete/0">완료</a>
                </li>
            </ul>

        </div>
    </div>
</div>

</html>
