<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function() {

            const modal = $("#modalContainer");
            const modalOpenButton = $(".modalOpenButton")
            const modalCloseButton = $("#modalCloseButton");

            modalOpenButton.on('click', function() {

                modal.removeClass('hidden');
            });

            modalCloseButton.on('click', function() {

                modal.addClass('hidden');
            });

        });

        function getItem(item) {
            const id = item.getAttribute('data-id');
            const price = item.getAttribute('data-price');
            const stock = item.getAttribute('data-stock');
            const img = item.getAttribute('data-img');

            const modalImg = $("#modalImg");
            const modalId = $("#modalId");
            const modalPrice = $("#modalPrice");
            const modalStock = $("#modalStock");
            const itemBuyButton = $(".item-buy");


            modalImg.attr('src', `/img/${img}.png`);
            modalId.text('ID: ' + id);
            modalPrice.text('Price: ' + price);

            itemBuyButton.off('click').on('click', function () {

                if (stock < modalStock.val() || modalStock.val() <= 0) {
                    alert("갯수가 적합하지 않습니다");
                    return;
                }

                var paramData =
                    {
                        id: id,
                        stock: modalStock.val(),
                        price: price,
                    }

                var param = JSON.stringify(paramData);

                var url = "/item/search";

                $.ajax({
                    url: url,
                    type: "Patch",
                    contentType: "application/json",
                    data: param,
                    beforeSend: function (xhr) {

                    },
                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                        alert("주문 완료.");
                        location.href = '/cart/wish/0';
                    },
                    error: function (jqXHR, status, error) {
                        if (jqXHR.status == '401') {
                            alert('로그인 후 이용해주세요');
                            location.href = '/members/login';
                        } else {
                            alert('메소가 부족합니다');
                        }
                    }
                });

            })
        }

    </script>
</th:block>
<div layout:fragment="content">



    <div class="searchWishItemForm">

        <div class="pagination">
            <!-- 이전 페이지 링크 -->
            <a th:href="@{/cart/wish/{page}(page=${sellItems.number - 1})}" th:if="${sellItems.hasPrevious()}">&laquo; 이전</a>

            <!-- 현재 페이지 / 총 페이지 수 -->
            <span class="page-info">
        <span th:text="${sellItems.number + 1}"></span> /
        <span th:text="${sellItems.totalPages}"></span></span>

            <!-- 다음 페이지 링크 -->
            <a th:href="@{/cart/wish/{page}(page=${sellItems.number + 1})}" th:if="${sellItems.hasNext()}">다음 &raquo;</a>
        </div>

        <div id="modalContainer" class="hidden">
            <div id="modalContent">

                <img id="modalImg" src="" alt="Item Image"  style="width: 100px; height: 100px;" />
                <p id="modalId"></p>
                <p id="modalPrice"></p>
                <p>갯수 : <input type="text" id="modalStock" value="1"/></p>

                <button class="item-buy">구매</button>
                <button id="modalCloseButton">닫기</button>
            </div>
        </div>

    <table class="searchTable">
        <thead>
        <tr>
            <th>아이템 이름</th>
            <th>가격</th>
            <th>개수</th>
            <th>구매</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${sellItems}"  th:if="${item.getStoreitem().item.stock_number >= 1}"  class="item-row" data-bs-toggle="modal" data-bs-target="#itemModal">
            <td class="hover-item">
                <img th:src="@{/img/{img}.png(img=${item.getStoreitem().item.itemImg.imgUrl})}"
                     alt="Item Image"
                     style="width: 15px; height: 15px; margin-left: 10px;" />
                <span th:text="${item.getStoreitem().item.name}">아이템 이름</span>

                <!-- 숨겨진 팝업 -->
                <div class="popup">
                    <img th:src="@{/img/{img}.png(img=${item.getStoreitem().item.itemImg.imgUrl})}"
                         alt="Item Image"
                         style="width: 100px; height: 100px;" />
                    <p th:if="${item.getStoreitem().item.itemStat.intel} != null" th:text="'INT: ' + ${item.getStoreitem().item.itemStat.intel}"></p>
                    <p th:if="${item.getStoreitem().item.itemStat.dex} != null" th:text="'DEX: ' + ${item.getStoreitem().item.itemStat.dex}"></p>
                    <p th:if="${item.getStoreitem().item.itemStat.str} != null" th:text="'STR: ' + ${item.getStoreitem().item.itemStat.str}"></p>
                    <p th:if="${item.getStoreitem().item.itemStat.luck} != null" th:text="'LUCK: ' + ${item.getStoreitem().item.itemStat.luck}"></p>
                    <p th:if="${item.getStoreitem().item.itemStat.hp} != null" th:text="'hp: ' + ${item.getStoreitem().item.itemStat.hp}"></p>
                </div>
            </td>
            <td th:text="${item.price}">가격</td>
            <td th:text="${item.getStoreitem().item.stock_number}">개수</td>
            <td>
                <button type="button" class = "modalOpenButton"
                        th:data-price="${item.price}"
                        th:data-stock="${item.getStoreitem().item.stock_number}"
                        th:data-id="${item.getStoreitem().item.id}"
                        th:data-img ="${item.getStoreitem().item.itemImg.imgUrl}"
                        onclick="getItem(this)">
                    구매
                </button> </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

